<h1>My Documents</h1>

<% @docs.each do |doc| %>
<h2><%= link_to doc.title, doc_path(doc) %></h2>
<%= time_ago_in_words(doc.created_at) %><br>
<%= truncate(doc.content, length: 50) %><br>
<% end %>
<br>



<%= link_to "Create Document", new_doc_path %>